.lightsaber {
  cursor: pointer;
}

.lightsaber-blade {
  transition: all 0.3s ease-in-out;
  transform-origin: 70px 15px;
}

.lightsaber-blade.on {
  fill: #ff3333; /* Brighter core color */
  filter: drop-shadow(0 0 4px rgba(249, 64, 64, 0.8));
  animation: lightsaberGlow 1.5s infinite ease-in-out alternate;
}

.lightsaber-blade.off {
  fill: transparent;
  transform: scaleX(0.05);
  filter: none;
}

@keyframes lightsaberGlow {
  0% {
    filter: drop-shadow(0 0 3px rgba(255, 51, 51, 0.7));
  }
  100% {
    filter: drop-shadow(0 0 5px rgba(255, 51, 51, 0.9));
  }
}
