@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';

/* 
light theme:
text - #0f0f0f (rgb: 15, 15, 15)
background - #dbf0fa (rgb: 219, 240, 250)
primary - #058fff (rgb: 5, 143, 255)
secondary - #33a3ff (rgb: 51, 163, 255)
accent - #05acff (rgb: 5, 172, 255)

dark theme:
text - #f0f0f0 (rgb: 240, 240, 240)
background - #051a24 (rgb: 5, 26, 36)
primary - #0089fa (rgb: 0, 137, 250)
secondary - #0070cc (rgb: 0, 112, 204)
accent - #00a7fa (rgb: 0, 167, 250)
*/

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

h1 {
  @apply mb-8 text-4xl md:text-5xl lg:text-6xl;
}

h3 {
  @apply mb-6 text-3xl md:text-4xl lg:text-5xl;
}

h3 {
  @apply mb-4 text-2xl md:text-3xl lg:text-4xl;
}

a:not(.custom) {
  @apply underline hover:text-neutral/80;
}

@theme {
  --font-display: 'Inter', 'sans-serif';

  --color-neutral: rgb(15, 15, 15);
  --color-background: rgb(219, 240, 250);
  --color-primary: rgb(5, 143, 255);
  --color-secondary: rgb(51, 163, 255);
  --color-accent: rgb(5, 172, 255);

  --color-dark-blue: rgb(5, 26, 36);
}

[data-theme='dark'] {
  --color-neutral: rgb(240, 240, 240);
  --color-background: rgb(5, 26, 36);
  --color-primary: rgb(0, 137, 250);
  --color-secondary: rgb(0, 112, 204);
  --color-accent: rgb(0, 167, 250);
}

@layer components {
  .underline-animation {
    @apply relative inline-block;
  }

  .underline-animation::after {
    @apply content-[''] absolute left-0 bottom-[-1px] w-full h-[2px] bg-primary/80;
    @apply transform scale-x-0 origin-left transition-transform duration-300 ease-in-out;
  }

  .underline-animation:hover::after {
    @apply scale-x-100;
  }
}
